<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Resume Optimizer</title>
</head>
<body>
    <div class="container">
        <h1>Resume Optimizanator</h1>
        <label for="resume">Attach Resume</label><br>
        <input type="file" id="resume">
        <br><br><br><br>
        <label for="template">Use Template</label><br>
        <input type="file" id="template">
    </div>
</body>
</html>
